{{ range $svr := . }}
server {
    {{ if $svr.Listen }}listen    {{$svr.Listen}};{{ end }}
    {{ if $svr.ServerName }}server_name    {{$svr.ServerName}};{{end}}
	{{ if $svr.DefaultType }}default_type    {{$svr.DefaultType}};{{end}}
    {{ if $svr.Charset }}charset   {{$svr.Charset}};{{end}}

    {{ if gt $svr.KeepaliveTimeout.Num 0 }}
    keepalive_timeout {{$svr.KeepaliveTimeout.Num}}{{$svr.KeepaliveTimeout.Unit}};
    {{ end }}

    {{ if $svr.ServerTokens }}server_tokens on;{{ end }}

    {{ if $svr.SSLCertificate }}
    # ssl
    ssl_certificate {{$svr.SSLCertificate}};
    {{ end }}
    {{ if $svr.SSLCertificateKey }}ssl_certificate_key {{$svr.SSLCertificateKey}};{{ end }}

    {{ if $svr.ClientMaxBodySize.Unit }}
    client_max_body_size {{$svr.ClientMaxBodySize.Num}}{{$svr.ClientMaxBodySize.Unit}};
    {{ end }}
    {{ if $svr.ChunkedTransferEncoding }}
    chunked_transfer_encoding on;
    {{ end }}

    {{ range $rewrite := $svr.Rewrites }}
    rewrite {{$rewrite.Regex}} {{$rewrite.Replacement}}{{if $rewrite.Flag }} {{$rewrite.Flag}}{{ end }};
    {{ end }}

    {{ if ne $svr.Return.Code 0 }}
    return {{ $svr.Return.Code }} {{ if $svr.Return.Text}} "{{ $svr.Return.Text }}" {{ else if $svr.Return.URL }} {{$svr.Return.URL}} {{ end }};
    {{ end }}

    {{ if gt $svr.ProxyConnectTimeout.Num 0 }}
    proxy_connect_timeout   {{$svr.ProxyConnectTimeout.Num}}{{$svr.ProxyConnectTimeout.Unit}};
    {{ end }}
    {{ if gt $svr.ProxyTimeout.Num 0 }}
    proxy_timeout   {{$svr.ProxyTimeout.Num}}{{$svr.ProxyTimeout.Unit}};
    {{ end }}
    {{ if $svr.ProxyPass }}
    proxy_pass {{$svr.ProxyPass}};
    {{ end }}

    {{ range $loc := $svr.Locations }}
    location {{$loc.Path}} {
        {{ range $rewrite := $loc.Rewrites }}
        rewrite {{$rewrite.Regex}} {{$rewrite.Replacement}}{{if $rewrite.Flag }} {{$rewrite.Flag}}{{ end }};
        {{ end }}
        {{ range $psh := $loc.ProxySetHeaders }}
        proxy_set_header {{$psh.Field}} {{$psh.Value}};
        {{ end }}
        {{ if $loc.ProxyReadTimeout.Unit }}
        proxy_read_timeout {{$loc.ProxyReadTimeout.Num}}{{$loc.ProxyReadTimeout.Unit}};
        {{ end }}
        {{ if $loc.ProxyRedirect }}
        proxy_redirect {{$loc.ProxyRedirect}};
        {{ end }}
        {{ if gt $loc.ProxyConnectTimeout.Num 0 }}
        proxy_connect_timeout {{$loc.ProxyConnectTimeout.Num}}{{$loc.ProxyConnectTimeout.Unit}};
        {{ end }}
        {{ if gt $loc.ProxyReadTimeout.Num 0 }}
        proxy_read_timeout {{$loc.ProxyReadTimeout.Num}}{{$loc.ProxyReadTimeout.Unit}};
        {{ end }}
        {{ if gt $loc.ProxySendTimeout.Num 0 }}
        proxy_read_timeout {{$loc.ProxySendTimeout.Num}}{{$loc.ProxySendTimeout.Unit}};
        {{ end }}
        {{ if not $loc.DisableProxyPass }}
        set $target 'default';
        {{ buildLuaHeaderRouter $loc }}
        proxy_pass http://$target;
        {{ end }}
        {{ if $loc.Return.Code }}
        return {{$loc.Return.Code}} {{$loc.Return.Text}} {{$loc.Return.URL}};
        {{ end }}
    }
    {{ end }}
}
{{ end }}