{{ range $upstream := . }}
upstream {{$upstream.Name}} {
    server 0.0.0.1;
    balancer_by_lua_block {
        local b = require "ngx.balancer"

        local rr_up = require "{{$upstream.Name}}"

        local server = rr_up:find()

        assert(b.set_current_peer(server))
    }
}
{{ end }}