{{ range $upstream := . }}
upstream {{$upstream.Name}} {
    {{ range $server := $upstream.Servers }}
    {{ $params := $server.Params }}
    server {{$server.Address}} weight={{$params.Weight}};
    {{ end }}
}
{{ end }}