{{ range $upstream := . }}
upstream {{$upstream.Name}} {
    # servers
    {{ range $server := $upstream.Servers }}
    {{ $params := $server.Params }}
    server {{ $server.Address }};
    {{ end }}
}
{{ end }}