[Unit]
Description=goodrain rainbond-node
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/goodrain/envs/rainbond-node.sh
PermissionsStartOnly=true
ExecStart=/usr/share/gr-rainbond-node/scripts/start-node.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target