
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: rbdplugins.rainbond.io
spec:
  group: rainbond.io
  names:
    kind: RBDPlugin
    listKind: RBDPluginList
    plural: rbdplugins
    singular: rbdplugin
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RBDPlugin is the Schema for the rbdplugins API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RBDPluginSpec defines the desired state of RBDPlugin
            properties:
              author:
                description: Foo is an example field of RBDPlugin. Edit rbdplugin_types.go
                  to remove/update
                type: string
              description:
                type: string
              icon:
                type: string
              version:
                type: string
            type: object
          status:
            description: RBDPluginStatus defines the observed state of RBDPlugin
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
