Source: gr-rainbond-node
Section: utils
Priority: optional
Maintainer: root <root@goodrain.com>
Build-Depends: debhelper (>= 8.0.0),dh-systemd (>= 1.5)
Standards-Version: 3.9.6
Homepage: https://rainbond.com
Vcs-Browser: https://github.com/goodrain/rainbond
Vcs-Git: git://github.com/goodrain/rainbond.git

Package: gr-rainbond-node
Section: utils
Architecture: linux-any
Description: Rainbond-node

Package: gr-rainbond-grctl
Section: utils
Architecture: linux-any
Description: Rainbond cli