#!/usr/bin/make -f

PKGDIR=debian/tmp

%:
	dh $@ --with systemd

override_dh_systemd_enable:
	dh_systemd_enable -prainbond-node --name=rainbond-node rainbond-node.service

override_dh_installinit:
	dh_installinit -R --name rainbond-node

override_dh_installdocs:
	#cp --reflink=auto -a README.md debian/gr-rainbond-node/usr/share/doc/gr-rainbond-node

override_dh_usrlocal: