name: builder runner packaging
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'branch'
        required: true
        default: 'master'
      clone_url:
        description: 'clone_url'
        required: true
        default: 'https://github.com/goodrain'
      version:
        description: 'version'
        default: 'v5.17.1-release'
        required: true
      environment:
        description: 'environment'
        required: true
        default: 'release'
        type: choice
        options:
          - release
          - release-arm
      os:
        description: 'os'
        required: true
        default: 'ubuntu-22.04'
        type: choice
        options:
          - ubuntu-22.04
          - self-hosted

env:
  VERSION: ${{ github.event.inputs.version }}

jobs:
  build-runner:
    runs-on: ${{ github.event.inputs.os }}
    environment: ${{ github.event.inputs.environment }}
    steps:
      - name: Pull code and Build the Docker image
        env:
          DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          git clone -b ${{ github.event.inputs.branch }} ${{ github.event.inputs.clone_url }}/runner.git
          cd runner
          chmod +x ./release.sh
          ./release.sh
  
  build-builder:
    runs-on: ${{ github.event.inputs.os }}
    environment: ${{ github.event.inputs.environment }}
    steps:
      - name: Pull code and Build the Docker image
        env:
          DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          git clone -b ${{ github.event.inputs.branch }} ${{ github.event.inputs.clone_url }}/builder.git
          cd builder
          chmod +x ./release.sh
          ./release.sh
          
  push-arch:
    if: github.event.inputs.os == 'self-hosted'
    needs: [build-runner,build-builder]
    runs-on: ${{ github.event.inputs.os }}
    environment: release-arch
    steps:
      - uses: actions/checkout@v2
      - name: push arch images
        env:
          RBD_VER: ${{ vars.RBD_VER }}
          DOMESTIC_DOCKER_USERNAME: ${{ vars.DOMESTIC_DOCKER_USERNAME }}
          DOMESTIC_DOCKER_PASSWORD: ${{ secrets.DOMESTIC_DOCKER_PASSWORD }}
          PUSH_ARCH: ${{ vars.PUSH_ARCH }}
        run: |
          if [ $PUSH_ARCH == 'true' ];then
            chmod +x .github/scripts/push-arch.sh && ./.github/scripts/push-arch.sh builder-runner
          fi