name: pr-ci-build

on:
  pull_request:
    types: [opened, edited, synchronize, labeled, unlabeled]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Go environment
        uses: actions/setup-go@v2.1.3
        with:
          # The Go version to download (if necessary) and use. Supports semver spec and ranges.
          go-version: 1.18
      - name: install-golint
        run: |
          git clone https://github.com/golang/lint.git
          cd lint/golint
          go install
      - name: Go-linter
        run: ./check.sh

#       - name: SonarQube Scan
#         uses: kitabisa/sonarqube-action@v1.1.0
#         with:
#           host: ${{ secrets.SONARQUBE_HOST }}
#           login: ${{ secrets.SONARQUBE_TOKEN }}
#           projectName: rainbond

      - name: Build the Docker image
        env:
          DISABLE_GOPROXY: true
        run: VERSION=${{ github.base_ref }}-dev ./release.sh all
