name: release-ci-build

on:
  release:
    branches: [ master, V5.2, V5.3 ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Go environment
      uses: actions/setup-go@v2.1.3
      with:
        # The Go version to download (if necessary) and use. Supports semver spec and ranges.
        go-version: 1.13
    # - name: Go-linter
    #   uses: Jerome1337/golint-action@v1.0.2

    - name: get tag
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF:10}
  
    - name: Build the Docker image
      env: 
        DISABLE_GOPROXY: true
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOMESTIC_DOCKER_PASSWORD: ${{ secrets.DOMESTIC_DOCKER_PASSWORD }}
        DOMESTIC_DOCKER_USERNAME: ${{ secrets.DOMESTIC_DOCKER_USERNAME }}
      run: VERSION=${{ steps.vars.outputs.tag }} ./release.sh all push
